ul.list-menu { /* Lista del nav */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.list-menu li { /* Coloca las entradas en posición horizontal */
    float: left;
}

.list-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.list-menu li a:hover {
    background-color: #111111;
}

.list-menu ul{ /* Lista dentro de la lista principal */
 margin:0;
 padding:0;
 list-style:none;
 height:0; /* No se le da altura, ocultándolo */
 overflow: hidden;
 transition:1s;
 -moz-transition:1s;
 -webkit-transition:1s;
}
 
.list-menu li ul{
 transition:1s;
 -moz-transition:1s;
 -webkit-transition:1s;
}
 
 
.list-menu li:hover ul{ /* Muestra la lista dentro de la lista principal cuando se pasa el ratón por la entrada que lo contiene */
 height: 50px;
 background:rgba(108,151,176,0.5);
}
